body {
  background-color: black;
}
footer {
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}
footer a {
  color: #c51f09;
  text-decoration: none;
}
footer a:hover {
  color: #4b09c5;
}
.titulo {
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}
.calculator {
  width: 300px;
  padding: 15px;
  background-color: #4b09c5;
  border: 1px solid #5f10f3;
  border-radius: 5px;
  margin: 0 auto;
}
.calculator input {
  width: 93%;
  margin-bottom: 5px;
  padding: 5px;
}
.calculator .button {
  width: 48%;
  padding: 5px;
  margin-bottom: 5px;
  display: inline-block;
}
